<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> \
    
    <title>Document</title>
</head>
<body>
    <div id="mainConteiner" class="conteinerCentral">
        <div class="conteinerCentral">
            <h2>Conjunto de Contas</h2>
            <div class="conteinerCentral">
                <div id="accTable">
                    <table style="border: 1px solid #ccc;">
                        <thead style="border: 1px solid;">
                            <tr>
                                <th>ID</th>
                                <th>Nome</th>
                                <th>Saldo</th>
                                <th>Natureza</th>
                                <th>Grupo</th>
                                <th>Sub-Grupo</th>
                                <th>Tipo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="conta : ${listarContas}">
                                <td th:text="${conta.id}"></td>
                                <td th:text="${conta.nome}"></td>
                                <td th:text="${conta.saldo}"></td>
                                <td th:text="${conta.natureza}"></td>
                                <td th:text="${conta.grupo}"></td>
                                <td th:text="${conta.subgrupo}"></td>
                                <td th:text="${conta.tipo}"></td>
                                <td> <a th:href="@{/validarConta2/{id}(id=${conta.id})}" class="btn btn-primary" onclick="mostrarPopup()">Validar</a> 
                                            <a th:href="@{'/deletar-conta/' + ${conta.id}}" class="btn btn-danger">Excluir</a>
                                     
                                      </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="buttonDiv">
                <a th:href="@{/valida-balanco}" id="balanceValidate" class="btn btn-primary" onclick="mostrarPopup()">Validar Balanço</a>
                
                
                <button class="btn btn-primary" id="back">Voltar</button>
            </div>
        </div>
        <div id="meuPopup" th:style="${popupStyle}">
            <h2>Validação</h2>
            <p th:text="${msg}"></p>
            <button onclick="fecharPopup()">Fechar Popup</button>
        </div>
    </div>
     
    
</body>
<script th:src="@{/js/Conjunto.js}"></script>
<script th:src="@{/js/popup.js}"></script>


</html>