<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> \
    
    <title>Document</title>
</head>
<body>
    <div id="mainConteiner" class="conteinerCentral">
        <div class="conteinerCentral">
            <h2>Resultado</h2>
            <div class="conteinerCentral">
                <form id="formConta" th:action="@{/adicionar-conta-resultado}" th:object="${conta}" method="POST">
                    
                    <div>
                        <div class="label-container">
                            <label for="nome">Nome:</label>
                        </div>
                        <input id="nome"  type="text" class="form-control" th:field="${conta.nome}"></input>
                    </div>

                    <div>
                        <div class="label-container">
                            <label for="saldo">Saldo:</label>
                        </div>
                        <input id="saldo" type="text" class="form-control" th:field="${conta.saldo}"></input>
                    </div>
                    
                    <div>
                        <div class="label-container">
                            <label for="natureza">Natureza:</label>
                        </div>
                        
                        <select name="natureza" id="natureza" type="text" class="form-control" th:field="${conta.natureza}">
                            <option value="D">D</option>
                            <option value="C">C</option>
                        </select>

                    </div>

                    <div>
                        <div class="label-container">
                            <label for="grupo">Grupo:</label>
                        </div>
                        <select name="grupo" id="grupo" type="text" class="form-control" th:field="${conta.grupo}">
                            <option value="receitas">Receita</option>
                            <option value="despesas">Despesa</option>
                        </select>
                    </div>
                    
                    <div>
                        <input name="tipo" id="tipo" type="text" class="form-control" th:field="${conta.tipo}" style="display: none;">Resultado</<input>
                    </div>
                    
                    <div>
                        <p name="tipo" id="tipo" type="text" class="form-control" th:text="${mensagemValidacao}" value="validacao"></<p>
                    </div>
                    
                    
                    <div class="buttonDiv">
                        <button id="save" type="submit" class="btn btn-primary">Salvar</button>
                        <!--<button id="validate">Validar</button>-->
                        <button class="btn btn-primary" id="back">Voltar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script th:src="@{/js/Resultado.js}"></script>
</html>