<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> \
    
    <title>Document</title>
</head>
<body>
    <div id="mainConteiner" class="conteinerCentral">
        <div class="conteinerCentral">
            <h2>Resultado</h2>
            <div class="conteinerCentral">
                <form class="form-container">
                    
                    <div>
                        <div class="label-container">
                            <label for="nome">Nome:</label>
                        </div>
                        <input id="nome" pattern="[a-zA-Z]+"></input>
                    </div>

                    <div>
                        <div class="label-container">
                            <label for="saldo">Saldo:</label>
                        </div>
                        <input id="saldo" pattern="^\d+(,\d{1,2})?$"></input>
                    </div>
                    
                    <div>
                        <div class="label-container">
                            <label for="natureza">Natureza:</label>
                        </div>
                        
                        <select name="natureza" id="natureza">
                            <option value="D">D</option>
                            <option value="C">C</option>
                        </select>

                    </div>

                    <div>
                        <div class="label-container">
                            <label for="grupo">Grupo:</label>
                        </div>
                        <select name="grupo" id="grupo">
                            <option value="circulante">Circulante</option>
                            <option value="naoCirculante">Não Circulante</option>
                        </select>
                    </div>
                    
                    <div class="buttonDiv">
                        <button id="save">Salvar</button>
                        <button id="validate">Validar</button>
                        <button id="back">Voltar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script th:src="@{/js/Resultado.js}"></script>
</html>