<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> \
    
    <title>Document</title>
</head>
<body>
    <div id="mainConteiner" class="conteinerCentral">
        <div class="conteinerCentral">
            <h2>Bem Vindo ao Softcontas</h2>
            <h4>Escolha uma opção:</h4>
            <div class="conteinerCentral">
                <button class="btn btn-primary" id="reg" th:href="@{/ativo}">Registrar Contas</button>
                <button class="btn btn-primary" id="select" th:href="@{/conjunto}">Selecionar conjunto de contas</button>
                
            </div>
        </div>
    </div>
</body>
<script th:src="@{/js/Tela.js}"></script>


</html>